@using System.Diagnostics.CodeAnalysis
@model WebForum.PL.ViewModels.TopicViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div>
    <h1>Add topic</h1>
    <form method="post" asp-action="CreateTopic" enctype="multipart/form-data">

        <div>
            <label class="form-label" asp-for="TopicName"></label>
            <input class="form-control" required type="text" name="TopicName" asp-for="TopicName" />
        </div>

        <div>
            <label class="form-label" asp-for="Description"></label>
            <input class="form-control" required type="text" name="Description" asp-for="Description" />
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Upload image:</label>
            <input class="form-control" name="Image" type="file" id="formFile">
        </div>


        <div>
            <input type="submit" class="btn btn-primary" value="Add" />
        </div>
    </form>
</div>
