@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<header>
    <div class="d-flex justify-content-center aligns-items-center">
        <div>
            <a asp-controller="Admin" asp-action="Articles" class="btn btn-primary">Новини</a>
            <a asp-controller="Admin" asp-action="Exercises" class="btn btn-primary">Вправи</a>
            <a asp-controller="Roles" asp-action="Index" class="btn btn-primary">Ролі</a>
            <a asp-controller="Admin" asp-action="SeasonTickets" class="btn btn-primary">Клубні карти</a>
            <a asp-controller="Users" asp-action="Index" class="btn btn-primary">Користувачи</a>
        </div>
        @if (Context.Request.Path.ToString().Split("/").Last<String>().ToLower() != "admin")
        {
<a class="btn btn-primary rounded-circle" href="@(Context.Request.Path + "/create")">+</a>}
    </div>
</header>
<body class="d-flex flex-column min-vh-100">
    @RenderBody()
</body>
